<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div>Login</div>
        <form action="/users/login_result" method="post">
            <input type="text", name="Userid">
            <input type="text", name="Password">
            <input type="submit",value="Submit">
        </form> 
    </body>
</html>