<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div>Statistic</div>
        <form action="/statistic/result" method="post">
            <input type="text", name="sqlcol">
            <input type="submit",value="Submit">
        </form> 
    </body>
</html>