<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div>Uploadocr</div>
        <form action="/ocrs/uploadocr_result" method="post">
            <input type="text", name="ocrdata">
            <input type="submit",value="Submit">
        </form> 
    </body>
</html>