<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div>Uploadimg</div>
        <form action="/ocrs/uploadimg_result" method="post">
            <input type="file", name="Image">
            <input type="submit",value="Submit">
        </form> 
    </body>
</html>