<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sqlMapper">  
  <select id="getAllUser">
    SELECT
      *
    FROM
      sign_up
  </select>
  <select id="getIdUser">
    SELECT
      *
    FROM
      sign_up
    WHERE
      Userid =#{id}
  </select>
</mapper>